assistant,
dialog,
messagedialog,
message-dialog,
printdialog,
window {
    headerbar,
    .titlebar {
        background: linear-gradient(to bottom, $BG_2, mix($BG_3, $BG_4, $weight: 50%));
        color: $FG;
        border-radius: rem(4px) rem(4px) 0 0;
        border-bottom: 1px solid mix($BG_6, #000, $weight: 73%);
        border-top: 1px solid $BG_3;
        border-left: 1px solid mix($BG_3, $BG_4, $weight: 50%);
        border-right: 1px solid mix($BG_3, $BG_4, $weight: 50%);
        box-shadow: inset 0 1px $BG_1;

        .title {
            text-shadow: engraved-text-shadow();
            font-weight: 500;
        }

        .subtitle {
            opacity: 0.75;
            font-size: 80%;
        }

        .titlebutton,
        .image-button,
        .mode-switch {
            -gtk-icon-shadow: engraved-text-shadow();
        }

        // Reset so we don't affect things inside of child popovers/menus
        popover,
        menu {
            text-shadow: none;
            -gtk-icon-shadow: none;
        }
    }

    &.csd {
        .titlebar {
            padding: rem(3px);

            &.default-decoration {
                padding: rem(3px);
            }
        }

        revealer headerbar {
            padding: rem(3px);
        }
    }

    // Hdy.Window
    &.unified {
        .titlebar {

        }
    }

    // SSD doesn't calculate rems correctly
    &.ssd .titlebar {
        border-radius: 4px 4px 0 0;
        padding: 3px;
    }
}

dialog.csd,
messagedialog.csd,
message-dialog.csd {
    > .titlebar {
       background-color: bg_color(2);
       box-shadow: outset-highlight("top");
       padding: rem(6px);

       &.default-decoration {
           padding: 0;
       }

       label.title {
           text-shadow: none;
           -gtk-icon-shadow: none;
           font-size: 0.1px; // Workaround for an issue in Gtk when setting 0px
           color: transparent;
       }
   }
}
